@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var home = Umbraco.AssignedContentItem.Root();
    var checkout = home.DescendantOfType("checkOut");
}

<section class="section-content mgb-80">
    <div class="container">
        <h1 class="content-heading-title">@Model.Name</h1>
        <div class="wrap-content">
            @Model.Value("content")
            @if (checkout != null)
            {
                <div id="checkout-section">
                    <a href="@(checkout.Url() + "?id=" + Model.Id)">Order Now <i class="fas fa-chevron-circle-down"></i></a>
                </div>
            }
        </div>
    </div>
</section>
@{
    var packages = Model.Root().DescendantOfType("packages");
}
@if (packages != null)
{
    <section class="section-small-package">
        <div class="container">
            <div class="divider"><span class="divider-separator"></span></div>
            <div class="content">
                @packages.Value("note")
            </div>
        </div>
    </section>
}