@using GolfStayAndPlay.Controllers
@inherits UmbracoViewPage<GolfStayAndPlay.Models.CheckOutModel>
@{ 
    var home = Umbraco.AssignedContentItem.Root();
}

@using (Ajax.BeginForm("HandleCheckOut", "CheckOut", null, new AjaxOptions
{
    UpdateTargetId = "contentAjaxForm",
    HttpMethod = "POST",
    OnSuccess = "onCheckoutSuccess",
    OnFailure = "onCheckoutFailure"
}, new { id = "requestForm", @class = "out-form" }))
{
    <div class="wrap content__wrap" id="contentAjaxForm">
        @Html.Partial("~/Views/Partials/CheckOut/_Form.cshtml", Model)
    </div>
}
<script>
    $("#requestForm").on('submit', function () {
        setTimeout(function () {
            if (!$("input, textarea, select").hasClass("input-validation-error")) {
                $(".loading_div").css("display", "block");
            }
        });
    });
    function onCheckoutSuccess(e) {
        if (e.success) {
            window.location.href = e.redirectUrl
        }
        else {
            swal({
                title: e.success ? "Success" : "Error",
                text: e.message,
                icon: e.success ? "success" : "error"
            }).then((value) => {
                window.location.href = e.redirectUrl;
            });
        };
        $("#contentAjaxForm").html(e.view);
        $(".loading_div").css("display", "none");
    }
    function onCheckoutFailure(e) {
        swal({
            title: e.success ? "Success" : "Error",
            text: e.message,
            icon: e.success ? "success" : "error"
        }).then((value) => {
           // console.log(123); // handle redirect
        });
        $("#contentAjaxForm").html(e.view);
        $(".loading_div").css("display", "none");
    }
</script>