@inherits UmbracoViewPage<GolfStayAndPlay.Models.NewsletterModel>

@using (Ajax.BeginForm("HandleSubscribe", "Newsletter", null, new AjaxOptions
{
    UpdateTargetId = "contentAjaxForm",
    HttpMethod = "POST",
    OnSuccess = "onSubcribeSuccess",
    OnFailure = "onSubcribeFailure"
}, new { id = "newsletterForm" }))
{
    <div id="contentAjaxForm" class="w-100" style="font-size: 0">
        @Html.Partial("~/Views/Partials/Layout/Newsletter/_Form.cshtml", Model)
    </div>
}
<script>
    $("#newsletterForm").on('submit', function () {
        if (!$("input, textarea, select").hasClass("input-validation-error")) {
            $(".loading_div").css("display", "block");
        }
    });
    function onSubcribeSuccess(e) {
        swal(e.success ? "Success" : "Error", e.message, e.success ? "success" : "error");
        $("#contentAjaxForm").html(e.view);
        $(".loading_div").css("display", "none");
    }
    function onSubcribeFailure(e) {
        swal(e.success ? "Success" : "Error", e.message, e.success ? "success" : "error");
        $("#contentAjaxForm").html(e.view);
        $(".loading_div").css("display", "none");
    }
</script>